* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #1E1F31;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

header {
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px
}

header ul li a {
    color: #aba9b4;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all ease .5s;
}

header ul li a:hover {
    color: #f09053;
}

header ul li a.btn {
    display: inline-block;
    width: 180px;
    height: 60px;
    line-height: 60px;
    background-color: #f09053;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-size: 18px;
    transition: all ease 0.5s;
}

header ul li a.btn:hover {
    background: #615c59;
}


